*{
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

header{
    background: white;
    padding: 20px;
    
}

.nav {
    background-color: rgb(21, 19, 19);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}

.title{
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    
}

.container-izquierdo {
    display: flex;
    width: 200px;
    border: 1px solid black;
    align-items: center;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

.container-derecho1, .container-derecho2, .container-derecho3{
    border: 1px solid black ;
    width: 500px;
    margin-top: 15px;
    margin: ;
  
    
}
.cont-1, .cont-2, .cont-3 {
    display: flex;
    justify-content: space-around;
}
 

img{
    width: 70px;
    border-radius: 50%;
}

.btn-likes {
    background-color: yellow;
    border-bottom: 2px solid black;
    padding: 5px;
    margin: 5px;
}


